.env
.env.production
.env.development

coverage.out

node_modules/

.nuxt
.output
.data
.nitro
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?